.no-active::before{
  background-color: transparent !important;
}

.slide-fade-enter-active {
  transition: all .2s ease;
}
.slide-fade-leave-active {
  transition: all .2s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .25s;
}

.fade-enter-active {
  transition-delay: .25s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

.headline {
  font-family: 'Inter', sans-serif;
}

.display-1 {
  font-family: 'Inter', sans-serif;
}

.display-2 {
  font-family: 'Inter', sans-serif;
}

.title {
  font-family: 'Inter', sans-serif;
}